<div class="page">
    <main class="slider">
        <div class="slider__content">
            <div><a href="#" class="open-popup"></a><div class="slider__item" data-video-id="824804225"><iframe class="popup__video" src="https://player.vimeo.com/video/824804225?autoplay=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe></div></div>
            <div><a href="#" class="open-popup"></a><div class="slider__item" data-video-id="824804225"><iframe class="popup__video" src="https://player.vimeo.com/video/824804225?autoplay=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe></div></div>
            <div><a href="#" class="open-popup"></a><div class="slider__item" data-video-id="824804225"><iframe class="popup__video" src="https://player.vimeo.com/video/824804225?autoplay=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe></div></div>
            <div><a href="#" class="open-popup"></a><div class="slider__item" data-video-id="824804225"><iframe class="popup__video" src="https://player.vimeo.com/video/824804225?autoplay=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe></div></div>
            <div><a href="#" class="open-popup"></a><div class="slider__item" data-video-id="824804225"><iframe class="popup__video" src="https://player.vimeo.com/video/824804225?autoplay=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe></div></div>
            <div><a href="#" class="open-popup"></a><div class="slider__item" data-video-id="824804225"><iframe class="popup__video" src="https://player.vimeo.com/video/824804225?autoplay=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe></div></div>
            <div><a href="#" class="open-popup"></a><div class="slider__item" data-video-id="824804225"><iframe class="popup__video" src="https://player.vimeo.com/video/824804225?autoplay=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe></div></div>
            <div><a href="#" class="open-popup"></a><div class="slider__item" data-video-id="824804225"><iframe class="popup__video" src="https://player.vimeo.com/video/824804225?autoplay=0" frameborder="0" allow="fullscreen" allowfullscreen></iframe></div></div>
        </div>
        <button class="slider__button slider__button--left"></button>
        <button class="slider__button slider__button--right"></button>
    </main>
     </div>
<div class="popup__bg"> 
    <form class="popup">
        <img class="close-popup">
            <iframe class="popup__video" src="https://player.vimeo.com/video/824804225?autoplay=1" frameborder="0" allow="fullscreen"></iframe>
    </form>
</div> 
